<li class="flex flex-row border-2 border-zinc-300 hover:border-zinc-200 hover:duration-300 rounded-2xl px-4 py-2 mx-[10%] lg:mx-[25%] gap-2">
  <div>
    <img src="../assets/svg/{{image}}.svg" alt={{title}} class="rounded-lg w-[30px] h-[30px] lg:w-[20px] lg:h-[20px] ">
  </div>
  <a href={{linkUrl}} target="_blank" rel="noopener noreferrer" class="hover:cursor-pointer hover:text-blue-400 w-full flex flex-row gap-2 hover:scale-150 duration-500">
    <p class="text-base font-bold text-zinc-200 m-auto ">{{title}}</p>
  </a>
</li>