<section class=" flex flex-col justify-center align-middle w-full h-full gap-8">

  <app-perfil> </app-perfil>

  <!-- <div class="flex flex-row gap-4 m-auto justify-center">
    <app-redes linkUrl="https://github.com/pablo-santos21" image="github"> </app-redes>
    <app-redes linkUrl="https://linkedin.com" image="linkedin"> </app-redes>
    <app-redes linkUrl="https://instagram.com" image="instagram"> </app-redes>
    <app-redes linkUrl="https://pablosantos.dev" image="website"> </app-redes>
  </div> -->

  <div class="flex flex-col">
    <ul class="flex flex-col text-center w-full gap-4">
      <app-button-redes title="Agendar Consulta" linkUrl="https://wa.me/5544991269022?text=Ola!%20Gostaria%20de%20marcar%20um%20atendimento." image="whatsapp"> </app-button-redes>
      <app-button-redes title="Curso para Casais" linkUrl="http://chk.eduzz.com/2191147" image="metodouc"> </app-button-redes>
      <app-button-redes title="Youtube" linkUrl="https://www.youtube.com/@Psicologobrunocarlos" image="youtube"> </app-button-redes>
      <app-button-redes title="Site" linkUrl="https://psicologobrunocarlos.com.br/" image="psiCarlos"> </app-button-redes>
      <app-button-redes title="TikTok" linkUrl="https://www.tiktok.com/@psicologobrunocarlos?_t=ZM-8t48D1zK12s&_r=1" image="tiktok-svgrepo-com"> </app-button-redes>

    </ul>
  </div>

</section>


<router-outlet></router-outlet>